.product-image {
  list-style-type: none;
  width: 288px;
  padding: 20px;
  height: 420px;
  margin: 6px 6px;
  border: 1px solid #33B5E5;
  cursor: pointer;
}

.product-container {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.select-input {
  width: 80px;
  margin-bottom: 8px;
}